# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs / Editors (optional)
.vscode/
.idea/
*.swp

# Credentials
*.yaml
